<cn-page-header title="Statement" i18n-title="@@statements.viewer.title" backLink="/statements" backLabel="Statements"></cn-page-header>

<div class="mol-page" fxLayout="column" fxLayoutGap="12px">
  <mol-error-banner [error]="error" [showRetry]="false"></mol-error-banner>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px" *ngIf="src">
    <cn-button variant="tertiary" size="small" icon="print" (pressed)="print()" i18n="@@action.print">Print</cn-button>
    <cn-button variant="secondary" size="small" icon="download" (pressed)="download()" i18n="@@action.download">Download PDF</cn-button>
  </div>
  <iframe *ngIf="src; else loading" class="mol-pdf" [src]="src" title="Statement PDF" i18n-title="@@statements.viewer.frame"></iframe>
  <ng-template #loading><mol-loading-panel *ngIf="!error" [rows]="12"></mol-loading-panel></ng-template>
</div>
