<cn-page-header title="Choose your account" i18n-title="@@onboarding.productStep.title" [backLink]="'/open-account/contact'"></cn-page-header>

<form class="mol-page mol-form" [formGroup]="form" (ngSubmit)="submit()" novalidate fxLayout="column" fxLayoutGap="16px">
  <cn-error-summary [form]="form" *ngIf="submitted && form.invalid"></cn-error-summary>
  <mol-error-banner [error]="error" [showRetry]="false"></mol-error-banner>

  <cn-card [padded]="true">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
      <cn-select formControlName="productCode" i18n-label="@@onboarding.product.code" label="Account" [options]="productCodeOptions" [required]="true" fxFlex></cn-select>
      <cn-toggle formControlName="debitCard" ><span i18n="@@onboarding.product.debitCard">Send me a debit card</span></cn-toggle>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
      <cn-toggle formControlName="paperless" ><span i18n="@@onboarding.product.paperless">Go paperless</span></cn-toggle>
    </div>
  </cn-card>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px" fxLayoutAlign="end">
    <cn-button variant="tertiary" type="button" (pressed)="cancel()" i18n="@@action.cancel">Cancel</cn-button>
    <cn-button variant="primary" type="submit" [loading]="saving" i18n="@@onboarding.productStep.submit">Continue</cn-button>
  </div>
</form>
